body{
    background: rgb(230, 230, 230);
    font-family: 'Tapestry', cursive;
}

#flider{
   height:600px;
   box-shadow: 5px 10px #888888;
   
}
#flider2{
    height:600px;
   
    
 }
 #flider3{
    height:1000px;
   
    
 }
 


@media only screen and (max-width: 574px) {
#slider{

    height: 200px;;
}

}